<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: white url(../../assets/bg/bg.jpg) repeat-y center top">
  <h2>Welcome to Ionic!</h2>
  <ion-list>
    <ion-item *ngFor="let item of contactList" (click)="showDetail($event,item)">
      <!--<ion-avatar item-start>
        <img src="{{item.id}}" >
      </ion-avatar>-->
      <h2>{{item.displayName}}</h2>
      <p *ngFor="let phone of item.phoneNumbers" >{{phone.pref?phone.value:""}}</p>
    </ion-item>
  </ion-list>
</ion-content>